@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/noto-sans-v27-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/noto-sans-v27-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 700;
  src: local(""),
    url("./assets/fonts/noto-sans-v27-latin-700.woff2") format("woff2"),
    url("./assets/fonts/noto-sans-v27-latin-700.woff") format("woff");
}

/* custom properties */

:root {
  --clr-primary: 0 0% 100%;
  --clr-secondary: 0 0% 98%;
  --clr-accent-400: 0 100% 71%;
  --clr-accent-300: 186 72% 65%;

  --ff-noto-sans: "Noto Sans", sans-serif;
}

/* Edited version of CSS rest by Andy Bell */
/* https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(var(--clr-secondary));
  font-family: var(--ff-noto-sans);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.container {
  padding-inline: 1rem;
  margin-inline: auto;
}

.container-md {
  max-width: 50em;
}

.container-lg {
  max-width: 75em;
}

.opacity-half {
  opacity: 0.5;
}

.fw-bold {
  font-weight: bold;
}

.minw-100 {
  min-width: 100%;
}

/* component styles */

/* google login button by Mirko Akov */
/* https://codepen.io/mupkoo/pen/YgddgB */

.btn {
  padding: 12px 16px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
  background-color: #eeeeee;
}

.btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

.btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.login-with-google-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-small {
  padding: 4px 6px;
}

form,
textarea {
  min-width: 100%;
  max-width: 100%;
}

textarea {
  padding: 0.5rem;
  margin-block: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0 0% 0% / 0.2);
}

.profile-picture {
  max-width: 2rem;
  border-radius: 50%;
}

.nested-component {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.nested-component::before {
  content: "";
  width: 2px;
  height: 100%;
  margin-inline: 1rem;
  background-color: black;
  opacity: 0.2;
}

@media (min-width: 35em) {
  .nested-component::before {
    margin-inline: 1.5rem;
  }
}

/* general styles */

/* header */

header {
  background-color: hsl(var(--clr-primary));
  box-shadow: hsl(0 0% 0% / 0.2) 0px 1px 2px 0px;
  padding-block: 1rem;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* create comment form */

.create-comment-form-wrapper {
  padding-inline: 0;
}

@media (min-width: 35em) {
  .create-comment-form-wrapper {
    padding-inline: 4rem;
  }
}

/* comment section */

.comment-section {
  padding-block: 1.5rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

/* comments */

.comment-container {
  padding-top: 6px;
  margin-block: 1rem;
  border-radius: 8px;
}

.comment-container.regular {
  background-color: hsl(var(--clr-accent-400));
}

.comment-container.admin {
  background-color: hsl(var(--clr-accent-300));
}

.comment {
  padding: 1rem;
  background-color: hsl(var(--clr-primary));
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  word-wrap: break-word;
}

.comment-info {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.comment-info > .date {
  font-size: 0.75rem;
}

.comment-body {
  margin-block: 1rem;
}

.button-panel {
  display: flex;
  column-gap: 1rem;
}

.delete-btn {
  color: black;
  background-color: hsl(var(--clr-accent-400));
  margin-left: auto;
}
